#nav {
    margin-left: 10px;
    margin-right: 10px;
}
.written_posts, label{
    display: block;
}

#right {
    margin-bottom: 20px;
}
.written_comments, .written_notes {
    margin-top: 5px;
    padding-left: 50px;
}
.message_container {
    padding: 5px;
    margin-top: 100px;
}
.message{
    border: 2px solid black;
    padding: 5px;

}
.notes {
    border: 2px solid black;
    padding: 5px;
    margin-bottom: 5px;
}
.edit_first, .edit_password {
    display: inline-block;
    width: 42%;
    margin: 2%;
    border: 1px solid black;
    vertical-align: top;
}
.edit_first form,
.edit_password form {
    padding: 5%;
}
.edit_first form input,
.edit_password form input {
    margin-bottom: 5%;
}
#add_user, #manage_user {
    display: inline-block;
}
#add_user {
    margin-bottom: 8px;
    margin-left: 50%;
}
img {
    height: 200px;
    display: inline-block;
    margin-left: 30%;
    vertical-align: top;
}
.show_heading {
    display: inline-block;
}
.rinline_block, .linline_block {
    display: inline-block;
    width: 45%;
    min-height: 100px;
    vertical-align: top;
}
.inline_block table {
    border: 2px solid black;
}
.user_info, .user_description {
    margin-top: 30px;
    display: inline-block;
    width: 45%;
    vertical-align: top;
    min-height: 100px;
}
.user_description h3 {
    margin-top: 0;
}
#book_title {
    font-weight: bolder;
}
#book_author {
    font-style: italic;
    font-weight: bolder;
}
.list-group {
    padding-top: 20px;
}