#nav {
    margin-left: 10px;
    margin-right: 10px;
}
.written_posts, label{
    display: block;
}

#right {
    margin-bottom: 20px;
}
.written_comments, .written_notes {
    margin-top: 5px;
    padding-left: 50px;
}
.message_container {
    padding: 5px;
    margin-top: 100px;
}
.message{
    border: 2px solid black;
    padding: 5px;

}
.notes {
    border: 2px solid black;
    padding: 5px;
    margin-bottom: 5px;
}
.edit_first, .edit_password {
    display: inline-block;
    width: 42%;
    margin: 2%;
    border: 1px solid black;
    vertical-align: top;
}
.edit_first form,
.edit_password form {
    padding: 5%;
}
.edit_first form input,
.edit_password form input {
    margin-bottom: 5%;
}

