<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <!--<link rel="stylesheet" type="text/css" href="main.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'books/main.css' %}">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Family Blog</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'users:dashboard' %}">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Books
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Add A book</a></li>
                            <li><a href="#">Review a book</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Page 2</a></li>
                </ul>
        <form class="navbar-form navbar-right" action="{% url 'users:search' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name='search' placeholder="Search for a book">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
            </div>
        </nav>






{#        <nav class="navbar navbar-inverse">#}
{#            <div class="container-fluid">#}
{#                <div class="navbar-header">#}
{#                    <a class="navbar-brand" href="{% url 'users:user_index' %}">Book Reviewer</a>#}
{#                </div>#}
{#                <ul class="nav navbar-nav">#}
{#                    <li class="active"><a href="{% url 'books:books' %}">Home</a></li>#}
{##}
{#                    <li><a href="{% url 'books:add_book' %}">New Book Review</a></li>#}
{#                </ul>#}
{#                <ul class="nav navbar-nav navbar-right">#}
{#                    <li><a href="{% url 'users:kill' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>#}
{#                </ul>#}
{#            </div>#}
{#        </nav>#}

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

</div>
</body>
</html>